html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#irc_frame {
  height: 600px;
  width: 100%;
 }
 
#spot_form {
	margin: 5px;
}
.spot_form_labels {
	width:120px;
    float:left;
}
.spot_box_long {
	width: 250px;
}
.spot_box_med {
	width: 120px;
}
.spot_box_short {
	width: 100px;
}

.reduce-font-size {
  font-size: 75% !important;
}
.reduce-tab-padding {
  padding: 0.5em !important;
}

#callsign_input {
	width: 70px;
}
#passwd_input {
	width: 70px;
}
#login_form {
	margin-bottom: .2em;
}

#spotLogDiv {
	height:230px;
	overflow: auto;
}
