html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#irc_frame {
  height: 400px;
  width: 100%;
 }
 
#spot_form {
	margin: 5px;
}

.reduce-font-size {
  font-size: 80% !important;
}
.reduce-tab-padding {
  padding: 0.5em !important;
}

#callsign_input {
	width: 70px;
}
#passwd_input {
	width: 70px;
}
#login_form {
	margin-bottom: 0em;
}
