html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#irc_frame {
  height: 600px;
  width: 100%;
 }
 
#spot_form {
	margin: 5px;
}
.spotFormLabel {
	margin-left:69px;
    float:left;
}
.spot_box_long {
	width: 350px;
}
.spot_box_med {
	width: 120px;
}
.spot_box_short {
	width: 100px;
}

.reduce-font-size {
  font-size: 75% !important;
}
.reduce-tab-padding {
  padding: 0.5em !important;
}

#callsign_input {
	width: 70px;
}
#passwd_input {
	width: 70px;
}
#login_form {
	margin-bottom: .2em;
}

#spotLogDiv {
	height:230px;
	overflow: auto;
}

#map_canvas {
  height: 450px;
}

@media print {
  html, body {
    height: auto;
  }
}
.box {
	position: absolute; 
	background-color: white; 
	border: 1px solid #6666ff; 
	padding: 0.5em;
	z-index: 3;
}

.box {
	background: rgba(255,255,255,0.75); /* for more modern browsers */
}

.box * {
	font-size: 12px;
}

.box table { 
	margin: 0.25em auto;
	white-space: nowrap;
}

.box h1 { 
	text-align: center;
	margin: 0em 0em 0.5em 0em;
}

.box p { 
	margin: 0 auto;
	margin-bottom: 0.25em; 
	width: 25em;
}
#scenario_template { 
	left: 0; bottom: 0; 
	border-left: none;
	border-bottom: none;
}
